body {
  background: url();
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid azure;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}

.button {
  padding: 10px;
}
.button button {
  margin: 3px;
}
